.typewriter span {
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    	filter: alpha(opacity=0);
}

.typewriter span.show {
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    filter: alpha(opacity=100);
}

/* IE issues */
.lt-ie9 .typewriter span {
	display: inline-block;
}

.lt-ie9 .typewriter span.whitespace {
	min-width: 0.35em;
}
/* =========================== */
/* Globe font stack examples
/* =========================== */

/* Serif headline */
/* font-family: 'Miller', Helvetica, Times New Roman, Times, serif;* /

/* Sans-serif headline */
/* font-family: 'Benton', Helvetica, Arial, sans-serif; */

/* Serif body */
/* font-family: 'Georgia', Times New Roman, Times, serif; */

/* Sans-serif body */
/* font-family: 'Helvetica', Arial, sans-serif; */

/* =========================== */
/* Graphic styles
/* =========================== */
.trump-wrapper {
	width: 100%;
	overflow: hidden;
}

.trump-wrapper img {
	position: absolute;
	top: 0;
}

.trump-wrapper .phrases {
	position: relative;
	padding-left: 96px;
}

.trump-wrapper .phrase {
	font-size: 1.75em;
	line-height: 1.1em;
	font-family: 'Miller', Helvetica, Times New Roman, Times, serif;
}

.trump-wrapper .phrase.master {
	visibility: hidden;
}

.trump-wrapper .phrase.typewriter {
	position: absolute;
	top: 0;
}

.trump-wrapper .hide {
	display: none;
}

.source-and-credit {
	display: none;
}
